This notebook uses the package spotlight found at: https://github.com/maciejkula/spotlight, to create an Matrix factorization (MF) recommendation system using BilinearNet. Information on the model can be found here: https://github.com/maciejkula/spotlight/tree/master/examples/movielens_explicit 

Also using as reference the following article: https://towardsdatascience.com/how-to-build-powerful-deep-recommender-systems-using-spotlight-ec11198c173c

This code uses the training, validation and test sets created on the notebook: Implicit_Rating_Calculation_category.ipynb to train and test the model.

#### Installing the Spotlight library

!conda install -c maciejkula -c pytorch spotlight --y

!conda install -c maciejkula -c pytorch -c peterjc123 spotlight=0.1.4

In [1]:
!pip install git+https://github.com/maciejkula/spotlight.git@master --upgrade

Collecting git+https://github.com/maciejkula/spotlight.git@master
  Cloning https://github.com/maciejkula/spotlight.git (to revision master) to /tmp/pip-req-build-2nr8in03
  Running command git clone -q https://github.com/maciejkula/spotlight.git /tmp/pip-req-build-2nr8in03
Requirement already satisfied: torch>=0.4.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from spotlight==0.1.6) (1.8.1)
Requirement already satisfied: typing-extensions in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from torch>=0.4.0->spotlight==0.1.6) (3.7.4.3)
Requirement already satisfied: numpy in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from torch>=0.4.0->spotlight==0.1.6) (1.19.5)
Requirement already satisfied: dataclasses in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from torch>=0.4.0->spotlight==0.1.6) (0.8)

In [2]:
# Loading needed libraries
import numpy as np
import pandas as pd
import datetime as dt
from datetime import date
import torch
from sklearn.preprocessing import LabelEncoder
import gc

# Spotlight Libraries
from spotlight.factorization.explicit import ExplicitFactorizationModel
from spotlight.interactions import Interactions
from spotlight.cross_validation import random_train_test_split
from spotlight.evaluation import rmse_score


# Loading libraries for S3 bucket connection
import boto3
import io
from io import StringIO,BytesIO, TextIOWrapper
import gzip

client = boto3.client('s3') 
resource = boto3.resource('s3')

The expected data input should contain the user ids, the product ids, implicit rating and the timestamps (which are optional)

#### Data Preparation

In [3]:
# Reading Training,validation and testing dfs - Using the created T_implicit_cat data with timestamp
train_df = pd.read_csv('s3://myaws-capstone-bucket/data/modeling/input/T_implicit_cat_rating_train.csv')
val_train_df = pd.read_csv('s3://myaws-capstone-bucket/data/modeling/input/T_implicit_cat_rating_val_train.csv')
test_df = pd.read_csv('s3://myaws-capstone-bucket/data/modeling/input/T_implicit_cat_rating_test.csv')
val_test_df = pd.read_csv('s3://myaws-capstone-bucket/data/modeling/input/T_implicit_cat_rating_val_test.csv')

In [4]:
# Transforming event_time columns into timestamp  
train_df['event_date'] = train_df['event_time'].str[:19]# Grabbing only timestamp portion from original event_time column
train_df['event_date'] = train_df['event_date'].astype('datetime64[ns]')
train_df['timestamp'] = train_df['event_date'].values.astype(np.int64)//10**9
train_df['timestamp'] = train_df['timestamp'].astype(np.int32)
train_df.head()

,user_id,category,category_id,implicit_rating,catID,event_time,event_date,timestamp
0,128968633,2232732102103663163_furniture.bedroom.blanket,2232732102103663163,2,734,2019-12-31 10:09:41 UTC,2019-12-31 10:09:41,1577786981
1,128968633,2232732108613223108_sport.trainer,2232732108613223108,2,788,2019-12-31 11:30:56 UTC,2019-12-31 11:30:56,1577791856
2,128968633,2232732108613223108_sport.trainer,2232732108613223108,2,788,2019-12-31 15:30:09 UTC,2019-12-31 15:30:09,1577806209
3,192078182,2232732093077520756_construction.tools.light,2232732093077520756,2,668,2020-03-11 05:47:37 UTC,2020-03-11 05:47:37,1583905657
4,192078182,2232732101063475749_appliances.environment.vacuum,2232732101063475749,2,725,2020-01-17 12:51:40 UTC,2020-01-17 12:51:40,1579265500

In [5]:
# Transform category and user ids to needed format

# instantiating the labelencoder object
le = LabelEncoder()

train_df['catID'] = train_df['catID'].astype(np.int32)
train_df['userID'] = le.fit_transform(train_df['user_id'])
train_df['userID'] = train_df['userID'].astype(np.int32)

In [6]:
train_df.head()

,user_id,category,category_id,implicit_rating,catID,event_time,event_date,timestamp,userID
0,128968633,2232732102103663163_furniture.bedroom.blanket,2232732102103663163,2,734,2019-12-31 10:09:41 UTC,2019-12-31 10:09:41,1577786981,0
1,128968633,2232732108613223108_sport.trainer,2232732108613223108,2,788,2019-12-31 11:30:56 UTC,2019-12-31 11:30:56,1577791856,0
2,128968633,2232732108613223108_sport.trainer,2232732108613223108,2,788,2019-12-31 15:30:09 UTC,2019-12-31 15:30:09,1577806209,0
3,192078182,2232732093077520756_construction.tools.light,2232732093077520756,2,668,2020-03-11 05:47:37 UTC,2020-03-11 05:47:37,1583905657,2
4,192078182,2232732101063475749_appliances.environment.vacuum,2232732101063475749,2,725,2020-01-17 12:51:40 UTC,2020-01-17 12:51:40,1579265500,2

In [7]:
train_df.nunique()

user_id             839183
category               910
category_id            910
implicit_rating          5
catID                  910
event_time         3047065
event_date         3047065
timestamp          3047065
userID              839183
dtype: int64

In [8]:
train_df.dtypes

user_id                     int64
category                   object
category_id                 int64
implicit_rating             int64
catID                       int32
event_time                 object
event_date         datetime64[ns]
timestamp                   int32
userID                      int32
dtype: object

In [9]:
# Applying the same to all other dfs
val_train_df['event_date'] = val_train_df['event_time'].str[:19]# Grabbing only timestamp portion from original event_time column
val_train_df['event_date'] = val_train_df['event_date'].astype('datetime64[ns]')
val_train_df['timestamp'] = val_train_df['event_date'].values.astype(np.int64)//10**9
val_train_df['timestamp'] = val_train_df['timestamp'].astype('str')

val_test_df['event_date'] = val_test_df['event_time'].str[:19]# Grabbing only timestamp portion from original event_time column
val_test_df['event_date'] = val_test_df['event_date'].astype('datetime64[ns]')
val_test_df['timestamp'] = val_test_df['event_date'].values.astype(np.int64)//10**9
val_test_df['timestamp'] = val_test_df['timestamp'].astype('str')

test_df['event_date'] = test_df['event_time'].str[:19]# Grabbing only timestamp portion from original event_time column
test_df['event_date'] = test_df['event_date'].astype('datetime64[ns]')
test_df['timestamp'] = test_df['event_date'].values.astype(np.int64)//10**9
test_df['timestamp'] = test_df['timestamp'].astype('str')

In [10]:
# Transform product and user ids to needed format
val_train_df['catID'] = val_train_df['catID'].astype(np.int32)
val_train_df['userID'] = le.fit_transform(val_train_df['user_id'])
val_train_df['userID'] = val_train_df['userID'].astype(np.int32)

In [11]:
val_train_df.nunique()

user_id             727477
category               910
category_id            910
implicit_rating          5
catID                  910
event_time         2693000
event_date         2693000
timestamp          2693000
userID              727477
dtype: int64

In [12]:
# Transform product and user ids to needed format
val_test_df['catID'] = val_test_df['catID'].astype(np.int32)
val_test_df['userID'] = le.fit_transform(val_test_df['user_id'])
val_test_df['userID'] = val_test_df['userID'].astype(np.int32)

In [13]:
# Transform product and user ids to needed format
test_df['catID'] = test_df['catID'].astype(np.int32)
test_df['userID'] = le.fit_transform(test_df['user_id'])
test_df['userID'] = test_df['userID'].astype(np.int32)

In [14]:
# Creating interaction Spotlight objects since Spotlight model expects this specific type of object
train=Interactions(user_ids=train_df['userID'].to_numpy(),item_ids=train_df['catID'].to_numpy(),ratings=train_df['implicit_rating'].to_numpy(),timestamps=train_df['timestamp'].to_numpy())

test=Interactions(user_ids=test_df['userID'].to_numpy(),item_ids=test_df['catID'].to_numpy(),ratings=test_df['implicit_rating'].to_numpy(),timestamps=test_df['timestamp'].to_numpy())

val_train=Interactions(user_ids=val_train_df['userID'].to_numpy(),item_ids=val_train_df['catID'].to_numpy(),ratings=val_train_df['implicit_rating'].to_numpy(),timestamps=val_train_df['timestamp'].to_numpy())

val_test=Interactions(user_ids=val_test_df['userID'].to_numpy(),item_ids=val_test_df['catID'].to_numpy(),ratings=val_test_df['implicit_rating'].to_numpy(),timestamps=val_test_df['timestamp'].to_numpy())

In [15]:
train

In [17]:
model = ExplicitFactorizationModel(loss='regression',
                                   embedding_dim=128,  # latent dimensionality
                                   n_iter=1,  # number of epochs of training
                                   batch_size=1024,  # minibatch size
                                   l2=1e-06,  # strength of L2 regularization
                                   learning_rate=0.1,
                                   use_cuda=1)

model.fit(train, verbose=True)# Training model

Epoch 0: loss 208.806322509798

In [18]:
torch.save(model, 'MF_Spotlight.pt')# saving model

In [19]:
model = torch.load('MF_Spotlight.pt')# loading model

In [20]:
test_csr = test.tocsr()# converting test df to sparse row format

In [21]:
# Making predictions with model test
results=[]
for userID, row in enumerate(test_csr):
    predictions = model.predict(userID)
    results.append(predictions.argsort()[-10:][::-1])

In [22]:
# Converting prediction of model into a df
predictions_df = pd.DataFrame(data=results)
predictions_df.head()

     0    1    2    3    4    5    6    7    8    9
0   30  563  523  285  915  900  513    1  499  536
1  321  468  198  880  502  356   23  141  110   85
2  321  468  198  880  502   23  356  141  110   85
3  321  468  198  880  502  356   23  141  110   85
4  321  198  468  880  356  502   23  141   85  425

In [23]:
# Storing Df with userID
results=[]
for userID, row in enumerate(test_csr):
    results.append(userID)

user_df = pd.DataFrame(data=results)
user_df.columns = ['userID']

In [24]:
predictions_df['userID']= user_df['userID']# mapping userID to predictions_df
predictions_df.head()

     0    1    2    3    4    5    6    7    8    9  userID
0   30  563  523  285  915  900  513    1  499  536       0
1  321  468  198  880  502  356   23  141  110   85       1
2  321  468  198  880  502   23  356  141  110   85       2
3  321  468  198  880  502  356   23  141  110   85       3
4  321  198  468  880  356  502   23  141   85  425       4

In [25]:
predictions_df = predictions_df.groupby('userID').tail(1)# Handling cases with multiple sequences to only grab latest one
# Rearranging recs from rows to columns
predictions_df = predictions_df.melt(id_vars=["userID"], var_name="Category_Rank", value_name="catID")
predictions_df.head()

   userID Category_Rank  catID
0       0             0     30
1       1             0    321
2       2             0    321
3       3             0    321
4       4             0    321

In [26]:
cat_mapping = test_df[['catID','category','category_id']]
cat_mapping = cat_mapping.drop_duplicates(subset=['catID','category','category_id'])

user_mapping = test_df[['userID','user_id']]
user_mapping = user_mapping.drop_duplicates(subset=['userID','user_id'])

In [27]:
# Merging predictions_df to obtain the correct user and category
predictions_df = pd.merge(predictions_df, cat_mapping,  how='inner', on='catID')
predictions_df = pd.merge(predictions_df, user_mapping,  how='inner', on='userID')
#Dropping duplicates
predictions_df = predictions_df.drop_duplicates(['user_id','catID','category','category_id'])
predictions_df.head(10)

,userID,Category_Rank,catID,category,category_id,user_id
0,0,0,30,2053013552863641845_appliances.environment.fan,2053013552863641845,128968633
1,0,2,523,2135658543242543872_apparel.shoes,2135658543242543872,128968633
2,0,4,915,2232732134987006296_electronics.audio.headphone,2232732134987006296,128968633
3,0,6,513,2134904980736311929_electronics.clocks,2134904980736311929,128968633
4,0,3,285,2053013562183385881_apparel.shoes,2053013562183385881,128968633
5,0,5,900,2232732130591375596_sport.ski,2232732130591375596,128968633
6,0,1,563,2173216765583032544_apparel.shirt,2173216765583032544,128968633
7,0,7,1,2053013551865397438_sport.trainer,2053013551865397438,128968633
8,0,8,499,2116907524379639897_apparel.shoes,2116907524379639897,128968633
9,0,9,536,2145039101303194425_sport.tennis,2145039101303194425,128968633

In [28]:
# Saving Results in S3
predictions_df.to_csv('s3://myaws-capstone-bucket/data/modeling/output/MF_Spotlight_Param2.csv',index=False)
predictions_df.nunique()

userID           548860
Category_Rank        10
catID               559
category            559
category_id         559
user_id          548860
dtype: int64